body {
    margin: 50px
}

.c1 {
    /* display: flex; */
    flex: 1;
    font-size: larger;
    color: crimson;
    background-color: darkgoldenrod;
}

.c2 {
    /* display: flex; */
    flex: 1;
    font-size: larger;
    color: crimson;
    background-color: yellowgreen;
    justify-content: center;
    align-items: center;
    /* margin-top: 100px; */
}

.c3 {
    /* display: flex; */
    flex: 1;
    font-size: larger;
    color: crimson;
    background-color: orange;
}

.c4 {
    /* display: flex; */
    flex: 1;
    font-size: larger;
    color: crimson;
    background-color: purple;
    justify-content: center;
    align-items: center;
    /* margin-top: 100px; */
}

.listparent {
    margin-bottom: 8px;
    text-align: center;
    display: flex;
    height: 600px;
    flex-direction: row;
    /* justify-content: space-between;*/
    /* align-items: flex; */
    /* background: rgb(158, 29, 29); */
}

.list-style {
    list-style: none;
    padding-bottom: 3px;
}

.image {
    width: 300px;
}